@{
    ViewBag.Title = "Home Page";
}

<style>
    .social_icons li a {
        text-align: left !important;
        vertical-align: text-top !important;
        display: contents !important;
        font: 100 !important
    }
</style>
<!-- START SECTION BANNER -->
<section class="banner_section p-0 full_screen">
    <div id="carouselExampleFade" class="banner_content_wrap carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg_40" data-img-src="../../Themedata/assets/images/pexels-pixabay-267885.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn" data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s">Welcome To MasterMind</h2>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="1.5s">The way to start easy way of Learning.</p>
                                    <a class="btn animation button-red" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_40" data-img-src="../../Themedata/assets/images/pexels-andrea-piacquadio-3769981.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn" data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s">Learn Online Courses with best in business</h2>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="1.5s">Contrary to popular belief, Lorem Ipsum is not simply random</p>
                                    <a class="btn animation button-red" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_40" data-img-src="../../Themedata/assets/images/pexels-thirdman-8926406.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn" data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s">Focus on doing right thing with right Educator</h2>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="1.5s">Contrary to popular belief, Lorem Ipsum is not simply random</p>
                                    <a class="btn animation button-red" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_40" data-img-src="../../Themedata/assets/images/pexels-thirdman-8926406.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn" data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s">live learning, real time solution, free videos and study material (library)</h2>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="1.5s">Contrary to popular belief, Lorem Ipsum is not simply random</p>
                                    <a class="btn animation button-red" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Get Started</a>
                                    <a class="btn btn-outline-white animation" href="#" data-animation="fadeInUp" data-animation-delay="1.8s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <div class="carousel-nav carousel_style1">
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <i class="ion-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <i class="ion-chevron-right"></i>
            </a>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION FEATURE -->
<section class="bg_gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Why Choose Master Mind ?</h2>
                    </div>
                    <p>
                        Your time is limited and the treasure of knowledge is vast.
                        <br /> So grab the opportunity with mastermind
                    </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon bg_danger mb-3">
                        <img src="~/Themedata/assets/images/book.png" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5>Books & Library</h5>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="box_icon bg_default mb-3">
                        <img src="~/Themedata/assets/images/globe.png" alt="globe" />
                    </div>
                    <div class="intro_desc">
                        <h5>Learn Courses Online</h5>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="box_icon bg_light_green mb-3">
                        <img src="~/Themedata/assets/images/instructors.png" alt="instructors" />
                    </div>
                    <div class="intro_desc">
                        <h5>Expert Instructors</h5>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION FEATURE -->
<!-- START SECTION CATEGORIES -->
<section class="small_pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Most Popular Categories</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                <div class="course_categories carousel_slider owl-carousel owl-theme nav_style1" data-margin="15" data-loop="true" data-nav="true" data-dots="false" data-autoplay="true" data-responsive='{"0":{"items": "1"}, "380":{"items": "2"}, "576":{"items": "3"}, "1000":{"items": "5"}, "1199":{"items": "6"}}'>
                    <div class="item">
                        <div class="single_categories">
                            <a href="#" class="bg_danger">
                                <i class="fa fa-globe"></i>
                                Language
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_categories">
                            <a href="#" class="bg_light_green">
                                <i class="fa fa-chart-line"></i>
                                Business
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_categories">
                            <a href="#" class="bg_default">
                                <i class="fa fa-book"></i>
                                Academics
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_categories">
                            <a href="#" class="bg_pink">
                                <i class="fa fa-camera"></i>
                                Photography
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_categories">
                            <a href="#" class="bg_blue">
                                <i class="fa fa-heartbeat"></i>
                                Health Fitness
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_categories">
                            <a href="#" class="bg_orange">
                                <i class="fa fa-code"></i>
                                Development
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CATEGORIES -->
<!-- START SECTION ABOUT -->
<section class="small_pt small_pb overflow-hidden">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-md-6">
                <div class="box_shadow1 bg-white overlap_section padding_eight_all">
                    <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.02s">
                        <div class="heading_s1">
                            <h2>About Us</h2>
                        </div>
                        <p>Mastermind is India’s online tutorial site, which helps student to obtain knowledge anytime-anywhere. Mastermind founded by an expert teachers group who have bundle of experience of more than 25 years. Mastermind invests in future of country. Students learn and interact live with expert teachers. Mastermind’s strength is our skilled teachers. It has more than 200+ teachers are working constantly students support. More than 200 teachers taught 2 million hours to 50000+ students across the world.</p>
                        <p>Mastermind is providing two way learning experience using “meet” application. Thus student and teacher both can connect to each other in real time. it prepares student for nursery to 12th standard, competitive exams and runs many small extra courses. Mastermind provides library experience to their exclusive students. Students enjoy and learn online with comfort and gain confidence to excel in all departments. </p>
                        <ul class="list_none list_item">
                            <li>
                                <div class="counter_content">
                                    <h3 class="h1 text_danger"><span class="counter">260</span></h3>
                                    <h6>Free Courses</h6>
                                </div>
                            </li>
                            <li>
                                <div class="counter_content">
                                    <h3 class="h1 text_light_green"><span class="counter">152</span></h3>
                                    <h6>Paid Courses</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="animation" data-animation="fadeInRight" data-animation-delay="0.03s">
                    <div class="overlay_bg_30 about_img z_index_minus1">
                        <img class="w-100" src="~/Themedata/assets/images/pexels-thirdman-8926551.jpg" alt="about_img" />
                    </div>
                    <!--<a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video_popup video_play">
                        <span class="ripple"><i class="ion-play ml-1"></i></span>
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION ABOUT -->
<!-- START SECTION COURSES -->
<section class="small_pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Our Courses</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="content_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-katerina-holmes-5905709.jpg" alt="course_img1" /></a>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                        <div class="courses_info">
                            <div class="rating_stars">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-half"></i>
                            </div>
                            <ul class="list_none content_meta">
                                <li><a href="#"><i class="ti-user"></i>31</a></li>
                                <li><a href="#"><i class="ti-heart"></i>10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_footer">
                        <div class="teacher">
                            <a href="#"><img src="~/Themedata/assets/images/Screenshot_1.png" alt="user1"><span>John Wood</span></a>
                        </div>
                        <div class="price">
                            <span class="alert alert-success">Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-thirdman-8926456.jpg" alt="course_img2" /></a>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                        <div class="courses_info">
                            <div class="rating_stars">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-half"></i>
                            </div>
                            <ul class="list_none content_meta">
                                <li><a href="#"><i class="ti-user"></i>31</a></li>
                                <li><a href="#"><i class="ti-heart"></i>10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_footer">
                        <div class="teacher">
                            <a href="#"><img src="~/Themedata/assets/images/Screenshot_2.png" alt="user2"><span>Dany Core</span></a>
                        </div>
                        <div class="price">
                            <span class="alert alert-info">$49</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-thirdman-8926887.jpg" alt="course_img3" /></a>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                        <div class="courses_info">
                            <div class="rating_stars">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-half"></i>
                            </div>
                            <ul class="list_none content_meta">
                                <li><a href="#"><i class="ti-user"></i>31</a></li>
                                <li><a href="#"><i class="ti-heart"></i>10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_footer">
                        <div class="teacher">
                            <a href="#"><img src="~/Themedata/assets/images/Screenshot_3.png" alt="user3"><span>Smith Parker</span></a>
                        </div>
                        <div class="price">
                            <span class="alert alert-success">Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-thirdman-8926554.jpg" alt="course_img4" /></a>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                        <div class="courses_info">
                            <div class="rating_stars">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-half"></i>
                            </div>
                            <ul class="list_none content_meta">
                                <li><a href="#"><i class="ti-user"></i>31</a></li>
                                <li><a href="#"><i class="ti-heart"></i>10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_footer">
                        <div class="teacher">
                            <a href="#"><img src="~/Themedata/assets/images/Screenshot_4.png" alt="user4"><span>Sara Robert</span></a>
                        </div>
                        <div class="price">
                            <span class="alert alert-info">$54</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.06s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-startup-stock-photos-7096.jpg" alt="course_img5" /></a>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                        <div class="courses_info">
                            <div class="rating_stars">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-half"></i>
                            </div>
                            <ul class="list_none content_meta">
                                <li><a href="#"><i class="ti-user"></i>31</a></li>
                                <li><a href="#"><i class="ti-heart"></i>10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_footer">
                        <div class="teacher">
                            <a href="#"><img src="~/Themedata/assets/images/Screenshot_5.png" alt="user5"><span>Wendy Nahse</span></a>
                        </div>
                        <div class="price">
                            <span class="alert alert-info">$36</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.07s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-thirdman-8926556.jpg" alt="course_img6" /></a>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                        <div class="courses_info">
                            <div class="rating_stars">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-half"></i>
                            </div>
                            <ul class="list_none content_meta">
                                <li><a href="#"><i class="ti-user"></i>31</a></li>
                                <li><a href="#"><i class="ti-heart"></i>10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_footer">
                        <div class="teacher">
                            <a href="#"><img src="~/Themedata/assets/images/Screenshot_6.png" alt="user6"><span>John Wood</span></a>
                        </div>
                        <div class="price">
                            <span class="alert alert-info">$22</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.07s">
                    <div class="medium_divider"></div>
                    <a href="#" class="btn button-red" style="color:white;">View All Courses <i class="ion-ios-arrow-thin-right ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION COURSES -->
<!-- START SECTION COUNTER -->
<section class="parallax_bg overlay_bg_blue_70" data-parallax-bg-image="../../Themedata/assets/images/pexels-cottonbro-4861300.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 ">
                <div class="box_counter counter_style1 text_white text-center animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="counter_icon">
                        <img src="~/Themedata/assets/images/counter_icon1.png" alt="counter_icon1" />
                    </div>
                    <div class="counter_content">
                        <h3 class="counter_text"><span class="counter">1800</span>+</h3>
                        <p>Students</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
                <div class="box_counter counter_style1 text_white text-center animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="counter_icon">
                        <img src="~/Themedata/assets/images/counter_icon2.png" alt="counter_icon2" />
                    </div>
                    <div class="counter_content">
                        <h3 class="counter_text"><span class="counter">70</span></h3>
                        <p>Courses</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
                <div class="box_counter counter_style1 text_white text-center animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="counter_icon">
                        <img src="~/Themedata/assets/images/counter_icon3.png" alt="counter_icon3" />
                    </div>
                    <div class="counter_content">
                        <h3 class="counter_text"><span class="counter">700</span>+</h3>
                        <p>Certified teachers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
                <div class="box_counter counter_style1 text_white text-center animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                    <div class="counter_icon">
                        <img src="~/Themedata/assets/images/counter_icon4.png" alt="counter_icon4" />
                    </div>
                    <div class="counter_content">
                        <h3 class="counter_text"><span class="counter">1200</span>+</h3>
                        <p>Award Winning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION COUNTER -->
<!-- START SECTION EVENT -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Upcoming events</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="content_box event_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-armin-rimoldi-5553724.jpg" alt="event_img1" /></a>
                        <div class="event_date radius_all_5">
                            <h5><span>16</span> May</h5>
                            <span class="event_time radius_lbrb_5 bg_default button-red">10:00 am 3:00 pm</span>
                        </div>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <ul class="list_none content_meta">
                            <li><i class="ti-user"></i> <a href="#" class="text_default color-red">John Wood</a></li>
                            <li><i class="ti-location-pin"></i><span class="text_default color-red">New York City</span></li>
                        </ul>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box event_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-pixabay-159823.jpg" alt="event_img2" /></a>
                        <div class="event_date radius_all_5">
                            <h5><span>27</span> Apr</h5>
                            <span class="event_time radius_lbrb_5 bg_default button-red">9:00 am 4:00 pm</span>
                        </div>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <ul class="list_none content_meta">
                            <li><i class="ti-user"></i> <a href="#" class="text_default color-red">John Wood</a></li>
                            <li><i class="ti-location-pin"></i><span class="text_default color-red">New York City</span></li>
                        </ul>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content_box event_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="content_img radius_ltrt_10">
                        <a href="#"><img src="~/Themedata/assets/images/pexels-andrea-piacquadio-3807755.jpg" alt="event_img3" /></a>
                        <div class="event_date radius_all_5">
                            <h5><span>22</span> Jun</h5>
                            <span class="event_time radius_lbrb_5 bg_default button-red">11:00 am 4:00 pm</span>
                        </div>
                    </div>
                    <div class="content_desc">
                        <h4 class="content_title"><a href="#">Nullam id varius nunc id varius nunc</a></h4>
                        <ul class="list_none content_meta">
                            <li><i class="ti-user"></i> <a href="#" class="text_default color-red">John Wood</a></li>
                            <li><i class="ti-location-pin"></i><span class="text_default color-red">New York City</span></li>
                        </ul>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- START SECTION EVENT -->
<!-- START SECTION REGISTER -->
<section class="pb-0 background_bg bg_blue_dark" data-img-src="../../Themedata/assets/images/pexels-armin-rimoldi-5553635.jpg">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6 col-md-7">
                <div class="register_form radius_all_10 text_white padding_eight_all animation" data-animation="fadeInLeft" data-animation-delay="0.02s">
                    <div class="heading_s1 heading_light">
                        <h2>Get A Free <span class="text_default color-red">Online Courses</span></h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything hidden in the middle of text</p>
                    <form method="post" name="enq" class="pt-md-2 form_transparent">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input required="required" placeholder="Enter Name *" class="form-control" name="name" type="text">
                            </div>
                            <div class="form-group col-sm-6">
                                <input required="required" placeholder="Enter Email *" class="form-control" name="email" type="email">
                            </div>
                            <div class="form-group col-sm-6">
                                <input required="required" placeholder="Enter Phone No *" class="form-control" name="phone" type="tel">
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="custom_select">
                                    <select class="form-control">
                                        <option>Select Course</option>
                                        <option>Course</option>
                                        <option>Course</option>
                                        <option>Course</option>
                                        <option>Course</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <textarea required="required" placeholder="Message *" class="form-control" name="message" rows="4"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" title="Submit Your Message!" class="btn button-red" name="submit" value="Submit">Register Now</button>
                            </div>
                            <div class="col-sm-12">
                                <div id="alert-msg" class="alert-msg text-center"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="large_divider"></div>
            </div>
            <!--<div class="col-lg-6 col-md-5">
                <div class="text-center animation" data-animation="fadeInRight" data-animation-delay="0.03s">
                    <img src="~/Themedata/assets/images/girl_img.png" alt="girl_img" />
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- END SECTION REGISTER -->
<!-- START SECTION GALLERY -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Our Gallery</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list_none grid_filter animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <li><a href="#" class="current" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".library">Library</a></li>
                    <li><a href="#" data-filter=".campus">Campus</a></li>
                    <li><a href="#" data-filter=".events">Events</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid_container gutter_medium grid_col3 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <li class="grid-sizer"></li>
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-pixabay-459971.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item1.jpg" class="image_popup button-red"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item library campus">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-andrea-piacquadio-3769021.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item2.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item library">
                        <div class="gallery_item radius_all_10">
                            <div class="carousel_slider owl-carousel owl-theme dots_white" data-autoplay="true" data-loop="true" data-autoplay-timeout="3000" data-items="1">
                                <a href="#" class="image_link">
                                    <img src="~/Themedata/assets/images/pexels-fauxels-3184163.jpg" alt="image">
                                </a>
                                <a href="#" class="image_link">
                                    <img src="~/Themedata/assets/images/pexels-filipe-sabino-2065490.jpg" alt="image">
                                </a>
                            </div>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item3.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                    <a href="~/Themedata/assets/images/gallery_item4.jpg" class="image_popup d-none"></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item campus">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-shvets-production-7516544.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item5.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item radius_all_10">
                            <div class="carousel_slider owl-carousel owl-theme dots_white" data-autoplay="true" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay-timeout="3500" data-items="1">
                                <a href="#" class="image_link">
                                    <img src="~/Themedata/assets/images/pexels-craig-adderley-1467564.jpg" alt="image">
                                </a>
                                <a href="#" class="image_link">
                                    <img src="~/Themedata/assets/images/pexels-julia-m-cameron-4144096.jpg" alt="image">
                                </a>
                            </div>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item6.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                    <a href="~/Themedata/assets/images/gallery_item7.jpg" class="image_popup d-none"><i class="ion-image"></i></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item library campus">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-rodnae-productions-7683779.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item8.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item campus">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-rodnae-productions-7683777.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item9.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item library">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-rodnae-productions-7683767.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item10.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-ivan-samkov-5676744.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item11.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item radius_all_10">
                            <div class="carousel_slider owl-carousel owl-theme dots_white" data-autoplay="true" data-loop="true" data-autoplay-timeout="4000" data-items="1">
                                <a href="#" class="image_link">
                                    <img src="~/Themedata/assets/images/pexels-julia-m-cameron-4145197.jpg" alt="image">
                                </a>
                                <a href="#" class="image_link">
                                    <img src="~/Themedata/assets/images/pexels-thirdman-8926403.jpg" alt="image">
                                </a>
                            </div>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item12.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                    <a href="~/Themedata/assets/images/gallery_item13.jpg" class="image_popup d-none"></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item library">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-thirdman-8926543.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item14.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item radius_all_10">
                            <a href="#" class="image_link">
                                <img src="~/Themedata/assets/images/pexels-thirdman-8926832.jpg" alt="image">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/Themedata/assets/images/gallery_item15.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION GALLERY -->
<!-- START SECTION TEACHER -->
<section class="parallax_bg overlay_bg_blue_90" data-parallax-bg-image="../../Themedata/assets/images/pexels-max-fischer-5212326.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center text_white animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 heading_light text-center">
                        <h2>Our Teachers</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="blog_post box_shadow1 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="blog_img radius_ltrt_10">
                        <a href="@Url.Action("TeacherDetail","Home")">
                            <img src="~/Themedata/assets/images/img1.jpg" alt="blog_small_img1">
                            <div class="link_blog">
                                <span class="ripple"><i class="fa fa-link"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <h5 class="blog_title"><a href="teacher-detail.html" style="text-align: center;">Aden Smith</a></h5>
                        <p>Grades 8th-10th</p>
                        <p><b> Tue 12 Oct</b></p>
                        <hr />
                        <p>Maths Expert</p>
                        <p><b>B.Tech- IIT Dharwad</b></p>
                        <!--<a href="teacher.html" class="text-capitalize">Read More</a>-->
                    </div>
                    <!--<div class="blog_footer bg-white radius_lbrb_10">
                <ul class="list_none blog_meta">
                    <li><a href="#"><i class="ion-calendar"></i>15 May, 2019</a></li>
                    <li><a href="#"><i class="ion-chatbubbles"></i>2 Comment</a></li>
                </ul>
            </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_box team_style1 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="team_img">
                        <img src="~/Themedata/assets/images/pexels-pixabay-532220.jpg" alt="team2">
                        <ul class="list_none social_icons social_white">
                            <li>
                                <a>
                                    <div class="ti-view-list text-body text_white">
                                        <p><b>Grades 8th-10th</b></p>
                                        <p> Tue 12 Oct</p>
                                        <hr />
                                        <p><b>Taken by</b></p>
                                        <p>Aden Smith</p>
                                        <hr />
                                        <p>Maths Expert</p>
                                        <p><b>B.Tech - IIT Dharwad</b></p>

                                    </div>
                                </a>

                            </li>

                        </ul>
                    </div>
                    <div class="team_title radius_lbrb_10 text-center">
                        <h5><a href="@Url.Action("TeacherDetail","Home")">Kally Brooks</a></h5>
                        <span>Professor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_box team_style1 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="team_img">
                        <img src="~/Themedata/assets/images/pexels-kenneth-carpina-1525695.jpg" alt="team3">
                        <ul class="list_none social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_title radius_lbrb_10 text-center">
                        <h5><a href="#">David clark</a></h5>
                        <span>Chemistry Teacher</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_box team_style1 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                    <div class="team_img">
                        <img src="~/Themedata/assets/images/pexels-mentatdgt-937483.jpg" alt="team4">
                        <ul class="list_none social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_title radius_lbrb_10 text-center">
                        <h5><a href="#">Rebeka Alig</a></h5>
                        <span>English Teacher</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION TEACHER -->
<!-- START SECTION TESTIMONIAL -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Student Say!</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                <div class="testimonial_slider testimonial_style1 carousel_slider owl-carousel owl-theme" data-margin="30" data-loop="true" data-autoplay="true" data-dots="false" data-responsive='{"0":{"items": "1"}, "576":{"items": "2"}, "1199":{"items": "2"}}'>
                    <div class="testimonial_box">
                        <div class="testimonial_img">
                            <img class="radius_all_5" src="~/Themedata/assets/images/rishi-gangoly-4170744_1280.jpg" alt="client" style="height:100px;width:100px">
                        </div>
                        <div class="testi_meta">
                            <div class="testi_user">
                                <h6>Lissa Castro</h6>
                                <span class="text_default color-red">Co-Founder</span>
                            </div>
                            <div class="testi_desc">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_img">
                            <img class="radius_all_5" src="~/Themedata/assets/images/Robert-Downey-Jr-1280.jpeg" alt="client" style="height:100px;width:100px">
                        </div>
                        <div class="testi_meta">
                            <div class="testi_user">
                                <h6>Lissa Castro</h6>
                                <span class="text_default color-red">Co-Founder</span>
                            </div>
                            <div class="testi_desc">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_img">
                            <img class="radius_all_5" src="~/Themedata/assets/images/indian-young-man-spectacles-white-shirt-tie-116881725.jpg" alt="client" style="height:100px;width:100px">
                        </div>
                        <div class="testi_meta">
                            <div class="testi_user">
                                <h6>Lissa Castro</h6>
                                <span class="text_default color-red">Co-Founder</span>
                            </div>
                            <div class="testi_desc">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION TESTIMONIAL -->
<!-- START SECTION BLOG -->
<section class="bg_gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading_s1 text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <h2>Our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow1 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="blog_img radius_ltrt_10">
                        <a href="#">
                            <img src="~/Themedata/assets/images/pexels-pascal-renet-1089306.jpg" alt="blog_small_img1">
                            <div class="link_blog">
                                <span class="ripple"><i class="fa fa-link"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <h6 class="blog_title"><a href="#">Why are tickets to fly to Lagos expensive?</a></h6>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure there anything embarrassing hidden in the middle of text</p>
                        <a href="#" class="text-capitalize">Read More</a>
                    </div>
                    <div class="blog_footer bg-white radius_lbrb_10">
                        <ul class="list_none blog_meta">
                            <li><a href="#"><i class="ion-calendar color-red"></i>15 May, 2019</a></li>
                            <li><a href="#"><i class="ion-chatbubbles color-red"></i>2 Comment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow1 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="blog_img radius_ltrt_10">
                        <a href="#">
                            <img src="~/Themedata/assets/images/pexels-marc-mueller-380769.jpg" alt="blog_small_img2">
                            <div class="link_blog">
                                <span class="ripple"><i class="fa fa-link"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <h6 class="blog_title"><a href="#">Why are tickets to fly to Lagos expensive?</a></h6>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure there anything embarrassing hidden in the middle of text</p>
                        <a href="#" class="text-capitalize">Read More</a>
                    </div>
                    <div class="blog_footer bg-white radius_lbrb_10">
                        <ul class="list_none blog_meta">
                            <li><a href="#"><i class="ion-calendar color-red"></i>23 May, 2019</a></li>
                            <li><a href="#"><i class="ion-chatbubbles color-red"></i>2 Comment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow1 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="blog_img radius_ltrt_10">
                        <a href="#">
                            <img src="~/Themedata/assets/images/pexels-kampus-production-8636602.jpg" alt="blog_small_img3">
                            <div class="link_blog">
                                <span class="ripple"><i class="fa fa-link"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <h6 class="blog_title"><a href="#">Why are tickets to fly to Lagos expensive?</a></h6>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure there anything embarrassing hidden in the middle of text</p>
                        <a href="#" class="text-capitalize">Read More</a>
                    </div>
                    <div class="blog_footer bg-white radius_lbrb_10">
                        <ul class="list_none blog_meta">
                            <li><a href="#"><i class="ion-calendar color-red"></i>16 May, 2019</a></li>
                            <li><a href="#"><i class="ion-chatbubbles color-red"></i>2 Comment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="medium_divider"></div>
                    <a href="#" class="btn button-red" style="color:white">View All Blog <i class="ion-ios-arrow-thin-right ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BLOG -->
<!-- START SECTION CLIENT LOGO -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Our Client</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                <div class="cl_logo_slider carousel_slider owl-carousel owl-theme" data-margin="15" data-loop="true" data-autoplay="true" data-dots="false" data-responsive='{"0":{"items": "2"}, "380":{"items": "3"}, "600":{"items": "4"}, "1000":{"items": "5"}, "1199":{"items": "6"}}'>
                    <div class="item">
                        <a href="#"><img src="~/Themedata/assets/images/cl_logo1.png" alt="cl_logo1" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="~/Themedata/assets/images/cl_logo2.png" alt="cl_logo2" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="~/Themedata/assets/images/cl_logo3.png" alt="cl_logo3" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="~/Themedata/assets/images/cl_logo4.png" alt="cl_logo4" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="~/Themedata/assets/images/cl_logo5.png" alt="cl_logo5" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="~/Themedata/assets/images/cl_logo2.png" alt="cl_logo2" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CLIENT LOGO -->
<!-- END SECTION CALL TO ACTION -->
<section class="bg_default small_pt small_pb button-red">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="text_white cta_section ">
                    <div class="medium_divider d-block d-md-none"></div>
                    <div class="heading_s1 heading_light">
                        <h2>Get The Coaching Training Today!</h2>
                    </div>
                    <p>If you are going to use a passage of embarrassing hidden in the middle of text</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-md-right">
                    <a href="#" class="btn btn-outline-white">Get Started</a>
                </div>
                <div class="medium_divider d-block d-md-none"></div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CALL TO ACTION -->